header menu {
    background-color: #f4fcff
}

#content {
    background-color: #f0f2f5;
}

#content td.ant-table-cell, #content th.ant-table-cell {
    padding: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#content th.ant-table-cell {
    text-align: center;
    font-weight: bold;
    color: #686868;
}

.centered-content-div-w-margin {
    width: auto;
    text-align: center;
    margin-top: 100px;
}

.flat-photo-medium {
    max-width: 128px;
    max-height: 128px;
    margin: 6px;
}

tr.archived-flat {
    color: #737373;
}

tr.archived-flat a {
    color: #609ed0;
}

#indexLogoBackgroundBig {
    margin-top: 110px;
    opacity: 0.1;
    width: auto;
    text-align: center;
    margin-bottom: 30px;
}

span.siteSourceUpn,
.siteSourceUpn .ant-page-header-heading-sub-title {
    color: #609ed0;
    font-weight: bold;
}

span.siteSourceN1,
.siteSourceN1 .ant-page-header-heading-sub-title {
    color: darkred;
    font-weight: bold;
}

div.house-statistics-block {
    display: inline-block;
    background-color: #fafafa;
    padding: 15px;
    margin: 15px 38px 15px 38px;
    width: 340px;
}

div.house-statistics-block h3 {
    text-align: center;
}

div.house-statistics-block p {
    margin-bottom: 3px;
}

.house-statistics-wrapper {
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    text-align: justify;
}

.full-visible {
    opacity: 1;
}

.recharts-responsive-container {
    margin-left: auto;
    margin-right: auto;
}

.search-bar-above-table {
    margin-bottom: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 8px;
    background-color: rgb(255, 255, 255);
}

#content .ant-descriptions-item-label {
    font-weight: bold;
    color: #636363;
    padding: 4px 12px;
}
#content .ant-descriptions-item-content {
    padding: 4px 12px;
}

#heat-legend-color-gradient {
    display: inline-block;
    margin-bottom: -6px;
    margin-right: 32px;
    height: 20px;
    width: 320px;
    background: linear-gradient(0.25turn, #6561E8, #58F1F1, #22F41A, #F7E423, #FD1201);
}

#heat-legend-minimal-value {
    display: inline-block;
}

#heat-legend-maximal-value {
    display: inline-block;
    margin-left: 260px;
}

#loginButton {
    width: 150px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#loginButton:hover {
    border-color: white;
}

#loginButton a {
    color: lightgray;
}

#userNameDiv {
    display: inline-block;
    font-weight: bold;
    color: white;
}

#logoutButton {
    margin-left: 65px;
    display: inline-block;
    color: lightgray;
    border: none;
    background-color: transparent;
}

#logoutButton:hover {
    color: white;
}

#userIconInSideBar {
    font-size: 20px;
    margin-left: 25px;
    margin-right: 10px;
    color: #67b5e3;
    display: inline-block;
}

#userSideBarWrapper {
    margin-top: 20px;
    height: 35px;
    background-color: #374659;
}

#loginForm button {
    width: 100px;
}

.search-bar-input-with-margin {
    margin-left: 9px;
    margin-right: 28px;
}

.payback-max {
    background-color: #ce1a1a;
    color: white;
    border-radius: 7px;
    text-align: center;
}

.payback-high {
    background-color: #c66e10;
    color: white;
    border-radius: 7px;
    text-align: center;
}

.payback-middle {
    background-color: #aca202;
    color: white;
    border-radius: 7px;
    text-align: center;
}

.payback-low {
    background-color: #37ac02;
    color: white;
    border-radius: 7px;
    text-align: center;
}

#singleHousePhoto {
    max-height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}