header menu {
    background-color: #f4fcff
}

#content td.ant-table-cell, #content th.ant-table-cell {
    padding: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.centered-content-div-w-margin {
    width: auto;
    text-align: center;
    margin-top: 100px;
}