@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        constants = {
            getPage: '@Url.RouteUrl("DefaultApi", new {controller = "UpnSellFlat", action = "getall" })'
        }
    </script>
    <title>Парсер УПН</title>
</head>
<body>
<div id="content">
    <div style="width: auto; text-align: center; margin-top: 200px; font-family: 'Roboto'; color: rgba(0, 0, 0, 0.85); font-size: 110%;">
        <img src="~/images/initial_loading_animation.gif"/>
    </div>
</div>
<script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>